div.colorPicker-picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
}

div.colorPicker-picker:after {
    padding-left: 18px;
    content: attr(data-content);
}

div.colorPicker-palette {
  width: 710px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
}
  div.colorPicker_hexWrap {width: 100%; float:left }
  div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatches {
    margin: none;
    float: left;
    display: block;
    border: 1px solid #598FEF;
    width: 708px;
}

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

div.transparentSwatch {
    background-color: #FFFFFF;
    background: url(clear.png) repeat top left;
}

div.colorPicker-tabs {
    width: 710px;
    margin: none;
    float: left;
    display: block;
}

div.colorPicker-tab {
    border: 1px solid #C9D9F5;
    border-bottom: none;
    padding: 1px 5px;
    text-align: center;
    margin: none;
    height: 18px;
    border-collapse: collapse;
    float: left;
    cursor: pointer;
}

div.colorPicker-tab.active {
    font-weight: bold;
    border-color: #598FEF;
}
